## Task 1
We will convert a simple excel file to various other formats and back and then look at the results after each step. You can use the pd.read_\[File_format\] and \[dataframe\].to_\[File_format\] methods of pandas to read and write in different data formats.

In [1]:
import numpy as np
import pandas as pd
import xml.etree.ElementTree as ET

Load the file melbourne_de.xlsx into a dataframe called df. Then show the first 5 lines with df.head()

In [2]:
df = pd.read_excel('melbourne_de.xlsx')
df.head()

,Außenbezirk,Adresse,Räume,Preis,Datum,PLZ,Parkplätze,Landgrösse,Breitengrad,Längengrad
0,Abbotsford,68 Studley St,2,NaN,2016-09-03,3067,1.0,126.0,-37.8014,144.9958
1,Abbotsford,85 Turner St,2,1480000.0,2016-12-03,3067,1.0,202.0,-37.7996,144.9984
2,Abbotsford,25 Bloomburg St,2,1035000.0,2016-02-04,3067,0.0,156.0,-37.8079,144.9934
3,Abbotsford,18/659 Victoria St,3,NaN,2016-02-04,3067,1.0,0.0,-37.8114,145.0116
4,Abbotsford,5 Charles St,3,1465000.0,2017-03-04,3067,0.0,134.0,-37.8093,144.9944

Save the dataframe as a csv with the name df1.csv. What encoding has been used with the default values?

In [3]:
df.to_csv('df1.csv')

Now read the file df1.csv and show the first 5 lines. Has something changed? What happens if you use the additional parameter index_col when reading the file?

In [6]:
df = pd.read_csv('df1.csv', index_col=0)
df.head()

,Außenbezirk,Adresse,Räume,Preis,Datum,PLZ,Parkplätze,Landgrösse,Breitengrad,Längengrad
0,Abbotsford,68 Studley St,2,NaN,2016-09-03,3067,1.0,126.0,-37.8014,144.9958
1,Abbotsford,85 Turner St,2,1480000.0,2016-12-03,3067,1.0,202.0,-37.7996,144.9984
2,Abbotsford,25 Bloomburg St,2,1035000.0,2016-02-04,3067,0.0,156.0,-37.8079,144.9934
3,Abbotsford,18/659 Victoria St,3,NaN,2016-02-04,3067,1.0,0.0,-37.8114,145.0116
4,Abbotsford,5 Charles St,3,1465000.0,2017-03-04,3067,0.0,134.0,-37.8093,144.9944

Save the dataframe as a json with the name df2.json.

In [7]:
df.to_json('df2.json')

Now read the file df2.json as a pandas dataframe and check again if something changed.

In [8]:
df = pd.read_json('df2.json')
df.head()

,Außenbezirk,Adresse,Räume,Preis,Datum,PLZ,Parkplätze,Landgrösse,Breitengrad,Längengrad
0,Abbotsford,68 Studley St,2,NaN,2016-09-03,3067,1.0,126.0,-37.8014,144.9958
1,Abbotsford,85 Turner St,2,1480000.0,2016-12-03,3067,1.0,202.0,-37.7996,144.9984
2,Abbotsford,25 Bloomburg St,2,1035000.0,2016-02-04,3067,0.0,156.0,-37.8079,144.9934
3,Abbotsford,18/659 Victoria St,3,NaN,2016-02-04,3067,1.0,0.0,-37.8114,145.0116
4,Abbotsford,5 Charles St,3,1465000.0,2017-03-04,3067,0.0,134.0,-37.8093,144.9944

In [8]:
# Hint: older versions of pandas will mess with the order of the dataframe

Now save the file as excel file with the name df3.xlsx. Open it with excel, google sheets or any other tool you might have and look at how it is formatted.

In [9]:
df.to_excel('df3.xlsx')

In whatever Tool you used to open the excel file, save the file again as a tab separated file named df4.tsv

Finally load the df4.tsv file into a pandas dataframe and look at the first 5 lines. Did you manage to keep all special characters?

In [12]:
df = pd.read_csv('df4.txt', encoding='cp1252', delimiter='\t', index_col=0)
df.head()

,Außenbezirk,Adresse,Räume,Preis,Datum,PLZ,Parkplätze,Landgrösse,Breitengrad,Längengrad
0,Abbotsford,68 Studley St,2,NaN,2016-09-03,3067,1.0,126.0,-37.8014,144.9958
1,Abbotsford,85 Turner St,2,1480000.0,2016-12-03,3067,1.0,202.0,-37.7996,144.9984
2,Abbotsford,25 Bloomburg St,2,1035000.0,2016-02-04,3067,0.0,156.0,-37.8079,144.9934
3,Abbotsford,18/659 Victoria St,3,NaN,2016-02-04,3067,1.0,0.0,-37.8114,145.0116
4,Abbotsford,5 Charles St,3,1465000.0,2017-03-04,3067,0.0,134.0,-37.8093,144.9944

Bonus: reading from XML is often a bit more difficult. Since a few versions ago, pandas can read many simple xml files as well, but more complex ones are still out of reach. The following code gives an example to load data from an xml file without pandas.

In [ ]:
df.to_xml('df5.xml')

In [11]:
tree = ET.parse('df5.xml')
root = tree.getroot()
root

In [12]:
all_data = []
for row in root:
    record = {}
    for field in row:
        rec_key = field.tag
        record[rec_key] = field.text
    all_data.append(record)
xml_df = pd.DataFrame(all_data)
xml_df.head()

,index,Außenbezirk,Adresse,Räume,Preis,Datum,PLZ,Parkplätze,Landgrösse,Breitengrad,Längengrad
0,0,Abbotsford,68 Studley St,2,None,2016-09-03 00:00:00,3067,1.0,126.0,-37.8014,144.9958
1,1,Abbotsford,85 Turner St,2,1480000.0,2016-12-03 00:00:00,3067,1.0,202.0,-37.7996,144.9984
2,2,Abbotsford,25 Bloomburg St,2,1035000.0,2016-02-04 00:00:00,3067,0.0,156.0,-37.8079,144.9934
3,3,Abbotsford,18/659 Victoria St,3,None,2016-02-04 00:00:00,3067,1.0,0.0,-37.8114,145.0116
4,4,Abbotsford,5 Charles St,3,1465000.0,2017-03-04 00:00:00,3067,0.0,134.0,-37.8093,144.9944

## Task 2

The file building3d.dae contains a 3d file which can be opened with photoshop and other tools. Source: https://www.swisstopo.admin.ch/de/karten-daten-online/karten-geodaten-online/3d-viewer.html Your task is to read the file with python and calculate the height of the building. Open it with a text editor first to find out where the relevant information is located. The actual programming part of this exercise is optional, the important part is figuring out how to approach the problem at hand.

Hint1: It helps to know that the building is around 540m above sea.

Hint2: You can use root.iter(x) to directly access all elements with name x. Be aware that in the case of this file, x might contain also the name of the schema which is '{http://www.collada.org/2005/11/COLLADASchema}'.

In [13]:
'''calculates height from 3d model '''
def topo3d_height(file):
    root = ET.parse(file)
    coordinates_z = []
    schema = '{http://www.collada.org/2005/11/COLLADASchema}'
    for f in root.iter(schema + 'float_array'):
        coordinates = f.text.split(' ')
        coordinates_z += coordinates[2::3]
    # warning: This will work in this case, but it's actually really wrong...
    min_height = float(min(coordinates_z))
    height = float(max(coordinates_z)) - min_height
    return height

In [14]:
topo3d_height('building3d.dae')

11.38900000000001

Alternative with collada:

In [15]:
import collada

col = collada.Collada('building3d.dae')
geo = col.geometries[0]
# example code to get the vertices
p = geo.primitives[0]
p.vertex[0]

array([ -1.4042342,   8.651006 , 546.924    ], dtype=float32)

In [16]:
zmin = 9999
zmax = 0
for geo in col.geometries:
    for prim in geo.primitives:
        for v in prim.vertex:
            if v[2] > zmax:
                zmax = v[2]
            if v[2] < zmin:
                zmin = v[2]
height = zmax - zmin
height

11.388977